// Typography
$fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif;
$fontSizeBase: 16;

// Breakpoints
$mobile: 47.9375; // 767px
$tablet: 64; // 1024px
$desktop: 85.375; // 1366px

// Z-index
$zIndex1: 100;
$zIndex2: 200;
$zIndex3: 300;
$zIndex4: 400;
$zIndex5: 500;
$zIndex6: 600;
$zIndex7: 700;
$zIndex8: 800;
$zIndex9: 900;
$zIndex10: 1000;
