@use "../../../styles/colors" as *;
@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.navigationContainer {
  height: toRem(48);
  border-bottom: 1px solid $bg3;

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: toRem(16);
    height: 100%;
    padding: 0 toRem(16);

    li {
      height: 100%;
      @include flexCenter;
    }
  }
}
